.city {
    background-color: #fff;
    margin: 50px 0;
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: all 2s;
}

.current-information {
    display: flex;
}

p {
    font-family: 'Ubuntu', sans-serif; 
    color: rgb(50, 0, 0);
}

.timezone {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(50, 0, 0);
}

.summary {
    font-size: 20px;
    margin: 20px 0;
}

.temperature {
    margin: 60px 0 0 20px;
}

.temperature .current{
    font-size: 70px;
    font-weight: bold;
}

.temperature .apparent {
    font-size: 20px;
    font-weight: bold;
}

.additional {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.additional p {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}
