<div class="city-container" (click)="flipCity()" *ngIf="!isEmpty">
  <div class="city-information shadow-top shadow-left shadow-bottom">
    <p class="summary">{{city.currently.summary}}</p>
    <p class="temperature">{{city.currently.temperature}}°C</p>
    <p class="timezone">{{city.timezone}}</p>
  </div>
  <div class="city-flipper-container">
    <div class="city-flipper-front shadow-top shadow-right shadow-bottom" [ngClass]="{'rotate': isFlipped}">
      <img src="./assets/weather-icons/svg/{{city.currently.icon}}.svg" alt="current weather icon">
    </div>
    <div class="city-flipper-back shadow-top shadow-right shadow-bottom" [ngClass]="{'rotate': !isFlipped}">
      <ul>
        <li>Wind <span class="bold">{{city.currently.windSpeed}}</span> km/h</li>
        <li *ngIf="city.currently.visibility">Visibility <span class="bold">{{city.currently.visibility}}</span> km</li>
        <li>Humidity <span class="bold">{{city.currently.humidity}}</span>%</li>
        <li>Dew point <span class="bold">{{city.currently.dewPoint}}</span>°C</li>
        <li>Barometer <span class="bold">{{city.currently.pressure}}</span> mb</li>
        <li>Feels like: <span class="apparent bold">{{city.currently.apparentTemperature}}°C</span></li>
      </ul>
      <button title="To day detail information" (click)="onDetailBtnClick($event)"><i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>
</div>
