.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 130px;
}

.center {
    max-width: 1200px;
    min-width: 500px;
    margin: 0 auto;
}

header,
footer {
    width: 100%;
    height: 140px;
    background-color: rgb(243, 241, 241);
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif; 
}

footer {
    border-top: 10px solid rgb(50, 0, 0);
}

header {
    border-bottom: 10px solid rgb(50, 0, 0);
    display: flex;
    justify-content: space-between;
}

header p, footer p {
    color: rgb(50, 0, 0);
    font-size: 50px;
    letter-spacing: 2px;
    margin: 20px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header p a:hover, footer p a:hover {
    color: rgb(200, 0, 0);
}

header p a, footer p a {
    color: rgb(50, 0, 0);
}

footer p {
    text-align: right;
    cursor: default;
    font-size: 40px;
}

header p span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    margin-right: 20px;
}

nav a {
    color: rgba(50,0,0);
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    padding: 0 20px;
}

nav a.active-link {
    font-size: 25px;
    line-height: 90px;
    font-weight: bold;
}

nav a:hover:not(.active-link) {
    text-decoration: underline;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
}