.tabs-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tabs-container button {
  width: 24%;
  border:none;
  background-color:#CCD4F3;
  font-size: 20px;
  padding: 20px 0;
  color: #fff;
  font-family: 'Ubuntu' ;
  font-weight: bold;
  cursor: pointer;
}

.tabs-container button:not(.active):hover {
  background-color: #A6B5F3;
}

.tabs-container button.active {
  background-color: #6377CC;
}

.city-container {
  background-color: #6377CC;
  padding: 20px;
  position: relative;
  font-family: 'Ubuntu';
}

.title, .subtitle {
  color: #fff;
  letter-spacing: 2px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

.subtitle {
  font-size: 18px;
  margin-left: 20px;
  line-height: 24px;
}

.current-container {
  margin-left: 40px;
  margin-top: 20px;
}

.current-container p {
  background-color: #fff;
  font-size: 18px;
  color: #6377CC;
  margin-bottom: 10px;
  padding: 10px 5px;
}

.time-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.time-container p {
  text-align: right;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 24px;
}
