<div class="week-container">
    <section class="week">
            <article *ngFor="let day of city.daily.data" class="day" (click)="select(day)" [ngClass]="{'active' : activeDay == day }">
                <p>{{day.time}}</p>
                <img src="resourses/weather-icons/{{day.icon}}.png" alt="day weather icon">
                <p><span>{{day.temperatureMin}}</span> / {{day.temperatureMax}}</p>
        </article>
    </section>
</div>
<div class="detail-container" *ngIf="activeDay">
    <p class="summary">{{activeDay.summary}}</p>
    <div class="detail">
        <div class="info">
            <p>Cloud cover : <span class="bold">{{activeDay.cloudCover}}</span> %</p>
            <p>DewPoint : <span class="bold">{{activeDay.dewPoint}}</span> °C</p>
            <p>Humidity : <span class="bold">{{activeDay.humidity}}</span> %</p>
            <p>Pressure : <span class="bold">{{activeDay.pressure}}</span> mb</p>
        </div>
        <div class="sun">
            <p>Sunrise : </p>
            <figure>
                <img src="./resourses/weather-icons/sunrise.png">
                <figcaption>{{activeDay.sunriseTime}}</figcaption>
            </figure>
            <p>Sunset : </p>
            <figure>
                <img src="./resourses/weather-icons/sunset.png">
                <figcaption>{{activeDay.sunsetTime}}</figcaption>
            </figure>
        </div>
        <div class="temperature">
            <figure>
                <img src="./resourses/weather-icons/temperatureHigh.png">
                <figcaption>{{activeDay.temperatureMax}} °C</figcaption>
            </figure>
            <figure>
                <img src="./resourses/weather-icons/temperatureLow.png">
                <figcaption>{{activeDay.temperatureMin}} °C</figcaption>
            </figure>
        </div>
    </div>

</div>