p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(4, 171, 212);
}

p span {
    font-weight: normal;
}

.city {
    cursor: pointer;
    padding: 10px;
    transition: all 1s;
}

.city:hover {
    background-color: rgba(0, 165, 165, 0.1);
    box-shadow: 0px 0px 40px 5px rgba(0, 165, 165, 0.3); 
    transition: all 0.4s;
}