<!-- <div class="days-container">
    <article *ngFor="let day of city.daily.data" class="day" (click)="select(day)" [ngClass]="{'active' : activeDay == day }">
      <p>{{day.time}}</p>
      <img src="./assets/weather-icons/white/{{day.icon}}.png" alt="day weather icon">
      <p><span>{{day.temperatureMin}}</span> / {{day.temperatureMax}}</p>
    </article>
  </div>

  <div class="detail-container" *ngIf="activeDay">
    <p class="summary">{{activeDay.summary}}</p>
    <div class="detail">
      <div class="info">
        <p>Pressure: <span class="bold">{{activeDay.pressure}}</span> mb</p>
        <p>Cloud cover: <span class="bold">{{activeDay.cloudCover}}</span> %</p>
        <p>Dew Point: <span class="bold">{{activeDay.dewPoint}}</span> °C</p>
        <p>Humidity: <span class="bold">{{activeDay.humidity}}</span> %</p>
        <p>Wind: <span class="bold">{{activeDay.windSpeed}}</span> km/h</p>
      </div>
      <div class="sun">
        <p>Sunrise: </p>
        <figure>
          <img src="./assets/weather-icons/sunrise.png">
          <figcaption>{{activeDay.sunriseTime}}</figcaption>
        </figure>
        <p>Sunset: </p>
        <figure>
          <img src="./assets/weather-icons/sunset.png">
          <figcaption>{{activeDay.sunsetTime}}</figcaption>
        </figure>
      </div>
      <div class="temperature">
        <p>Temperature high: </p>
        <figure>
          <img src="./assets/weather-icons/temperatureHigh.png">
          <figcaption>{{activeDay.temperatureMax}} °C</figcaption>
        </figure>
        <p>Temperature low: </p>
        <figure>
          <img src="./assets/weather-icons/temperatureLow.png">
          <figcaption>{{activeDay.temperatureMin}} °C</figcaption>
        </figure>
      </div>
    </div>
  </div> -->

<ul class="week-container">
  <li *ngFor="let day of city.daily.data, let i = index" (click)="select(day)" class="day {{'index-' + i}}"
    [ngClass]="{'active' : activeDay == day }">
    <div class="header">
      <p>{{day.weekDay}}</p>
      <p class="weekDate">{{day.weekDate}}</p>
    </div>
    <div class="body">
      <div class="left" *ngIf="day == activeDay">
        <p class="feels-like"> Feels like {{day.apparentTemperatureMax}} °C</p>
        <p class="temperature-main">{{day.temperatureMax}} °C</p>
      </div>
      <div class="right">
        <div class="image-container">
          <img src="./assets/weather-icons/svg/white/{{day.icon}}.svg" alt="day weather icon">
        </div>
        <div class="summary" *ngIf="day == activeDay">
          <p class="info">{{day.icon}}</p>
          <p>Pressure: {{day.pressure}} mb</p>
          <p>Humidity: {{day.humidity}} %</p>
          <p>Wind: {{day.windSpeed}} km/h</p>
          <p></p>
        </div>
        <div class="temperature-shortcut" *ngIf="day != activeDay">
          <p>{{day.temperatureMax}} °C</p>
          <p>{{day.temperatureMin}} °C</p>
        </div>
      </div>
    </div>
  </li>
</ul>
