
.city-container {
    background-color: #fff;
}

.city {
    padding: 20px;
    font-size: 20px;
    margin: 50px auto;
    font-size: 20px;
    line-height: 30px;
    color: rgb(50, 0, 0);
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
}


.city div {
    margin: 0 30px;
}

.timezone {
    font-size: 40px;
    margin: 50px 0;
    font-weight: bold;
    text-align: center;
}

.city button {
    margin: 0 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(1, 90, 102,0.2);
}

.city button:hover {
    color: rgba(50, 0, 0, 1);
}
