<div *ngIf="city">
    <div class="city-container">
        <section class="city">
            <button (click)="changeCity(-1)">
                <i class="fas fa-4x fa-chevron-left"></i>
            </button>
            <div>
                <p class="timezone">{{city.timezone}}</p>
                 <p>{{city.daily.summary}}</p>
            </div>
            <button (click)="changeCity(1)">
                <i class="fas fa-4x fa-chevron-right"></i>
            </button>    
        </section>
    </div>
    <div class="canvas-container">
        <p class="timezone">{{city.timezone}} today</p>
        <canvas id="myChart"></canvas>
    </div>
    <week [city]="city"></week>
</div>
