h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: bold;
}

p {
    font-family: 'Ubuntu', sans-serif; 
    font-size: 30px;
    margin: 20px 50px;
}

p a {
    color: rgb(112, 23, 23);
    font-style: italic;
    cursor: pointer;
}

p a:hover {
    text-decoration: underline;
}